# Database Connection Strings
DATABASE_URL="postgresql://introlic:introlic_secret@localhost:5432/introlic?schema=public"
REDIS_URL="redis://localhost:6379"

# Docker Container Configurations
DB_USER=introlic
DB_PASSWORD=introlic_secret
DB_NAME=introlic
